body {
    font-family: 'Alef', sans-serif;
    text-align: center;
    user-select: none;
}

* { 
    user-select: none;
    -webkit-user-select: none;
}
button {
    border-radius: 5px;
    border: none;
    color: white;
    background: #f44336;
    box-shadow: 1px 2px 10px #474747;
    cursor: pointer;
}

span {
    display: block;
}
.main > button {
    font-size: 30px;
    margin-bottom:10px;
}

.secondary > button {
    background: midnightblue;
    font-size: 12px;
}

article {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
    background: whitesmoke;
    box-shadow: 1px 2px 10px #888888;
}

.warnDelete {
    background: black;
    color: white;
}

.deleted {
    background: green;
    color: white;
    border-radius: 5px;
}